<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>張煊佩簡介</title>
	<style type="text/css">
		* { font-family:"標楷體"; margin-left:auto; margin-right:auto;}
		h1 {color:#00008B; font-size:60px;}
		h2 {color:#00008B; font-size:40px;}
	</style>
	<script>
		function change1() {
  			document.getElementById("pic").src = "static/mountain.jpg";
  			document.getElementById("h2text").innerText = "靜宜資管";
		}

		function change2() {
  			document.getElementById("pic").src = "static/cliff.jpg";
  			document.getElementById("h2text").innerText = "Hsuan-Pei Chang";
		}
	</script>
</head>
<body>
	<table width="70%">
		<tr>
			<td>
				<h1>張煊佩</h1>
				<h2 id="h2text">Hsuan-Pei Chang</h2>
			</td>

			<td>
				<img src="static/cliff.jpg" width="110%" id="pic" onmouseover="change1()" onmouseout="change2()"></img>
			</td>

		</tr>
	</table>
<table width="70%" border="1">
		<tr>
			<td>
				個人網頁：<a href="https://csim.pu.edu.tw/" target="_blank">https://csim.pu.edu.tw/</a><br>

				FB：<a href="https://www.facebook.com/pucsim/?locale=zh_TW" target="_blank">https://www.facebook.com/pucsim/?locale=zh_TW</a><br>

				Tel: <a href="tel:0426328001,1813"target="_blank">04-26328001#1813</a><br>

				E-Mail: : <a href="pu20710@pu.edu.tw"target="_blank">pu20710@pu.edu.tw</a><br>
			</td>

			<td>
				大象席地而坐電影配樂<br>
				<audio controls>
							<source src="static/elephant.mp3" type="audio/mP3">
				</audio><br>
			</td>

			<td>
				Poppy Playtime Chapter 5 - Lily Lovebraids Is Saved by Chum Chompkins Very Sad Happy Ending<br>
				<iframe src="https://youtube.com/embed/vsBVLA7CR_I?si=3F_NMCIRWSBwE61C" allowfullscreen></iframe>
			</td>
				
		</tr>
	</table>

	<a href="/">返回首頁</a>
	<a href="/mis">課程名稱</a>
	<a href="/today">今天日期</a>
	

</body>
</html>